<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justin.Adjiembaks_todolist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icontask"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icontask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.justin.Adjiembaks_todolistupgrade.MainActivity"
            android:label="To Do List"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewItemActivity"
            android:label="Add a task!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaskViewActivity"
            android:label="Edit Task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.justi.todolistupgrade.NewItemActivity" />
        <activity android:name="com.example.justi.todolistupgrade.TaskViewActivity"></activity>
    </application>

</manifest>